numpy 
numba 
matplotlib 
opencv-python 
ipykernel 
ipython 
notebook 
shapely 
prime_printer 
datasets==3.6.0 
scikit-image
img-phy-sim
pytorch-msssim 
lion-pytorch
kornia 
mlflow 
tensorboard
tqdm
# cpu fallback
torch #  --extra-index-url https://download.pytorch.org/whl/cu126
torchvision #  --extra-index-url https://download.pytorch.org/whl/cu126
torchaudio #  --extra-index-url https://download.pytorch.org/whl/cu126
einops
torchinfo